// Colors
$secondary-text: #737373;
$primary: #24a0ed;
$quote: #ff6c00;
$dropdown-bg: #ededed;

// Breakpoints
$sm: 320px;
$md: 900px;
$lg: 1600px;

// Props
$font-weight: 600;
$border-props: 3px solid #d9d9d9;
